<% content_for :title, "Traits" %>

<h1>Traits</h1>

<div class="row">
  <% if @traits.any? %>
    <% @traits.each do |trait| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= trait.name %></h5>
            <p class="card-text">
              <strong>Dogs with this trait:</strong> <%= trait.dogs.count %>
            </p>
          </div>
          <div class="card-footer bg-transparent border-top-0">
            <%= link_to "View Trait", trait, class: "btn btn-outline-primary btn-sm w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No traits found.</p>
  <% end %>
</div>
