<% content_for :title, "Editing sub breed" %>

<h1>Editing sub breed</h1>

<%= render "form", sub_breed: @sub_breed %>

<br>

<div>
  <%= link_to "Show this sub breed", @sub_breed %> |
  <%= link_to "Back to sub breeds", sub_breeds_path %>
</div>
